<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Danh sách người dùng</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="base :: styles"></th:block>
</head>
<body th:replace="base :: layout(~{::content})">
<th:block th:fragment="content">
    <div class="container my-5">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="mb-0">Danh sách người dùng</h2>
            <a th:href="@{/users/add}" class="btn btn-success">Thêm người dùng</a>
        </div>
        <form th:action="@{/users/list}">
            <div class="row mb-3 mt-3">
                <div class="col-6">
                    <input type="text" class="form-control" placeholder="Họ" name="firstName">
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" placeholder="Tên" name="lastName">
                </div>
                <div class="mb-3 mt-3">
                    <input type="text" class="form-control" placeholder="Email" name="email">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        </form>
        <table class="table table-bordered table-hover">
            <thead class="table-light">
                <tr>
                    <th>ID</th>
                    <th>Họ và tên</th>
                    <th>Email</th>
                    <th>Ảnh đại diện</th>
                    <th>Điểm</th>
                    <th>Vai trò</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.email}"></td>
                    <td>
                        <img th:src="${user.avatar}" alt="Avatar" style="width: 50px; height: 50px; object-fit: cover; border-radius: 50%;">
                    </td>
                    <td th:text="${user.points}"></td>
                    <td th:text="${user.role}"></td>
                    <td>
                        <a th:href="@{'/users/update/' + ${user.id}}" class="btn btn-sm btn-warning me-1">Sửa</a>
                        <a class="btn btn-sm btn-danger"
                           th:onclick="'deleteUser(\''+@{/api/users}+'\',' + ${user.id} + ')'">Xóa</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script th:src="@{/js/main.js}"></script>
</th:block>
</body>
</html>
