<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Đăng nhập</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="base :: styles"></th:block>
</head>

<body th:replace="base :: layout(~{::content})">
<th:block th:fragment="content">
    <section class="container">
        <h1 class="text-center mb-4">Đăng nhập</h1>

        <!-- Hiển thị thông báo lỗi nếu có -->
        <div th:if="${param.error}" class="alert alert-danger" role="alert">
            Tên đăng nhập hoặc mật khẩu không đúng. Vui lòng thử lại.
        </div>

        <form method="post" th:action="@{/login}">
            <div class="mb-3 mt-3">
                <label for="username" class="form-label">Tên đăng nhập </label>
                <input type="text" class="form-control" name="username" id="username" placeholder="Tên đăng nhập" autocomplete="username" />
            </div>

            <div class="mb-3 mt-3">
                <label for="password" class="form-label">Mật khẩu </label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Mật khẩu" autocomplete="current-password" />
            </div>
            <button class="btn btn-success mt-1" type="submit">Đăng nhập</button>
        </form>
    </section>
    <script th:src="@{/js/main.js}"></script>
</th:block>
</body>
</html>
