<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Quản lý hoạt động</title>
        <!-- Thêm các style từ base -->
    <block th:replace="base :: styles"></block>
</head>
<body>
    <!-- Header -->
    <div th:replace="base :: header"></div>

    <section class="container">
        <h1 class="text-center mb-4">Đăng nhập</h1>
        <form method="post" th:action="@{/login}">
            <!-- Tên hoạt động -->
            <div class="mb-3 mt-3">
                <label for="username" class="form-label">Tên đăng nhập </label>
                <input type="text" class="form-control" name="username" id="username" placeholder="Tên đăng nhập" />
            </div>

            <div class="mb-3 mt-3">
                <label for="password" class="form-label">Mật khẩu </label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Mật khẩu" />
            </div>
            <button class="btn btn-success mt-1" type="submit">Đăng nhập</button>
        </form>
    </section>

    <!-- Footer -->
    <div th:replace="base :: footer"></div>

    <script th:src="@{/js/main.js}"></script>

</body>
</html>
